.heading2Xl {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
  }
  
  .headingXl {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
  }
  
  .headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
  }
  
  .headingMd {
    font-size: 1.2rem;
    line-height: 1.3;
  }

  .headingSm {
    font-size: 1.0rem;
    line-height: 1.0;
  }
  
  .borderCircle {
    border-radius: 9999px;
  }
  
  .colorInherit {
    color: inherit;
  }
  
  .padding1px {
    padding-top: 1px;
  }
  
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .listItem {
    margin: 0 0 1.25rem;
  }
  
  .lightText {
    color: #888;
  }

  .locAndRes{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .resumebtn {
    border-radius: 10px;
    border: 2px solid #35cce7;
    padding: 0.3rem 0.8rem;
    font-size: 1rem;
    font-weight: 600;
    transition: 0.2s;
  }

  .resumebtn:hover {
    background-color: rgb(0, 56, 82);
    color: #fff;
  }

  .projCardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (max-width: 500px) {
    .locAndRes{
      flex-direction: column;
    }
    .locAndRes h2{
      font-size: 1.3em;
    }
  }